@charset "utf-8";
/* CSS Document */

header{
    background-color: black;
    position: fixed;
    width: 100%;
    z-index: 50;
    display: flex; 
    height: 50px;
	margin-top: 0px;
	
}
.header{
    width: 50px;
    margin: 0px 0px 0px 35px;
	
}



.navig{
    list-style:none;
}
.navig li{
    display:inline-block;
    padding: 0px 20px;
	transition: opacity 0.2s;
}
.navig li:hover{
	opacity: 75%;
	
}

li a{
    color:white;
    text-decoration: none;
    margin: 0px;
	font-family: 'Oxygen', sans-serif;
}
body{
      background-image: url('spate.jpg');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
      margin: 0px;
	 
}
.text{
	
	color:black;
	font-size: 35px;
	margin-top: 85px;
	font-family: 'Poppins', sans-serif;
	
}
.text1{
	color:black;
	font-size: 25px;
	margin-top: -30px;
	font-family: 'Poppins', sans-serif;
	
	
}
.poza{
	height: 350px;
	width: 1200px;
	object-fit: cover;
	
}
.align{
	display:flex;
	padding-left: 17%;
	padding-right: 17%;
	margin-left:0px;
	margin-right:0px;
}

.poza-text{
	display:flex;
	justify-content:center;
	align-content: center;
}
.poza1{
	height: 350px;
}
.text-poza{
	width: 500px;
	margin-left: 25px;
	margin-top: 0px;
	
}
.text-poza p{
	margin-top:0px;
	font-family: 'Oxygen', sans-serif;
	line-height: 25px;
}
.text-poza span{
	font-size: 30px;
	font-family: 'Oxygen', sans-serif;
	line-height: 30px;
}
.Sport {
	font-family: 'Oxygen', sans-serif;
	font-weight: 500;
	font-size: 30px;
	margin-bottom: 0px;
}
.stiri {
	
	font-family: 'Oxygen', sans-serif;
	font-weight: 500;
	font-size: 20px;
	border-bottom: solid;
	display: inline-block;
	margin-bottom: 0px;	
}
.text-sport{
	font-family: 'Oxygen', sans-serif;
	font-size: 17px;
	font-weight: 300;
	border-top: 0px;
	
	
	
}
.text-istorie{
	font-family: 'Oxygen', sans-serif;
	font-size: 17px;
	font-weight: 300;
	border-top: 0px;
	
	
}
.poza-istorie{
	height: 400px;
	width: 1200px;
	background-image: url("cla_hover.jpg");
	background-repeat: no-repeat;
	background-color:#FDFEF8;
	background-size: cover;
	background-position: 0px -280px;
	
	
}


.poza-src{
	
	width: 100%;
	display:block;
	height: 100%;
	object-fit: cover;
	transition: opacity 0.3s;
	
}
.poza-src:hover{
	opacity: 0%;
	
	
	
}
footer{
	background-color: black;
	color: white;
	padding: 20px 50px;
	margin-top: 100px;
	font-family: 'Oxygen', sans-serif;
	display: flex;
}
footer img{
	height: 150px;
	align-self: flex-end;
	
}
